<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Admin - Glory Box Book</title>

    <link href="../vendor/bootstrap/css/bootstrap.min.css" th:href="@{../vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../css/half-slider.css" th:href="@{../css/half-slider.css}" rel="stylesheet" />

</head>
<body>

    <div class="container">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Commandes des utilisateurs en attente</div>
                    <div class="card-block">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="command : ${datas.pendingCommands}">
                                    <th th:text="${command.id}">...</th>
                                    <th th:text="${command.name}">...</th>
                                    <th th:text="${command.forname}">...</th>
                                    <th th:text="${command.email}">...</th>
                                    <th>
                                        <a role="button" class="btn btn-primary btn-sm" th:href="@{'/detail/' + ${command.id}}">Détail</a>
                                        <button type="button" class="btn btn-danger btn-sm" th:onclick="'javascript:deleteCommand(this,\''+${command.id}+'\');'">Supprimer</button>
                                        <button type="button" class="btn btn-success btn-sm" th:onclick="'javascript:updateStatus(this,\'validate\',\''+${command.id}+'\');'">Valider</button>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Commandes des utilisateurs validées</div>
                    <div class="card-block">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody id="body_validate">
                            <tr th:each="command : ${datas.validateCommands}">
                                <th th:text="${command.id}">...</th>
                                <th th:text="${command.name}">...</th>
                                <th th:text="${command.forname}">...</th>
                                <th th:text="${command.email}">...</th>
                                <th>
                                    <a role="button" class="btn btn-primary btn-sm" th:href="@{'/detail/' + ${command.id}}">Détail</a>
                                    <button type="button" class="btn btn-danger btn-sm" th:onclick="'javascript:deleteCommand(this,\''+${command.id}+'\');'">Supprimer</button>
                                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" th:attr="data-target='#archivedDialog'+${command.id }">Archiver</button>

                                    <div class="modal fade" th:id="'archivedDialog'+${command.id}" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Lien pour la livraison</h4>
                                                </div>
                                                <div class="modal-body">
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <input type="text" class="form-control" name="email" placeholder="Lien de livraison" required=""/>
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" th:onclick="'javascript:updateStatus(this,\'archived\',\''+${command.id}+'\');'">Valider</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


            <div class="row" style="margin-top:20px;">
                <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Historique des  commandes utilisateurs</div>
                        <div class="card-block">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody id="body_archived">
                                <tr th:each="command : ${datas.archiveCommands}">
                                    <th th:text="${command.id}">...</th>
                                    <th th:text="${command.name}">...</th>
                                    <th th:text="${command.forname}">...</th>
                                    <th th:text="${command.email}">...</th>
                                    <th>
                                        <a role="button" class="btn btn-primary btn-sm" th:href="@{'/detail/' + ${command.id}}">Détail</a>
                                        <button type="button" class="btn btn-danger btn-sm" th:onclick="'javascript:deleteCommand(this,\''+${command.id}+'\');'">Supprimer</button>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Données divers</div>
                    <div class="card-block">
                            <table class="table">
                                <tr>
                                    <td>
                                        <div th:text="${datas.description}" id="current_description">...</div>
                                    </td>
                                    <td>
                                        <textarea name="description" id="description"></textarea>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" id="btn_description">Modifier</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div th:text="${datas.price}" id="current_price">...</div>
                                    </td>
                                    <td>
                                        <input type="number" id="price"/>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" id="btn_price">Modifier</button>
                                    </td>
                                </tr>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/vendor/jquery/jquery.js}"></script>
    <script th:src="@{/vendor/boostrap/js/bootstrap.min.js }"></script>


    <script type="text/javascript">
        $("#btn_description").click(function() {
            var data = {}
            data["description"] = $("#description").val();

            $.ajax({
                type : "POST",
                contentType : "application/json",
                url : "http://localhost:8080/update/description",
                data : JSON.stringify(data),
                dataType : 'json',
                timeout : 100000,
                success : function(data) {
                    console.log("SUCCESS: ", data);
                    $("#current_description").text($("#description").val());
                    $("#description").val("");
                },
                error : function(e) {
                    console.log("ERROR: ", e);
                },
                done : function(e) {
                    console.log("DONE");
                }
            });
        });

        $("#btn_price").click(function() {
            var data = {}
            data["price"] = $("#price").val();

            $.ajax({
                type : "POST",
                contentType : "application/json",
                url : "http://localhost:8080/update/price",
                data : JSON.stringify(data),
                dataType : 'json',
                timeout : 100000,
                success : function(data) {
                    console.log("SUCCESS: ", data);
                    $("#current_price").text($("#price").val());
                    $("#price").val("");
                },
                error : function(e) {
                    console.log("ERROR: ", e);
                },
                done : function(e) {
                    console.log("DONE");
                }
            });
        });

        function updateStatus(element,status,id) {
            var data = {}
            data["status"] = status;
            data["id"] = id;

            $.ajax({
                type : "POST",
                contentType : "application/json",
                url : "http://localhost:8080/update/status",
                data : JSON.stringify(data),
                dataType : 'json',
                timeout : 100000,
                success : function(data) {
                    console.log("SUCCESS: ", data);
                    var button = $(element).closest(".btn-success");
                    if (status=="validate") {
                        button.text("Archiver");
                        button.unbind('click');
                        button.attr('onClick','updateStatus(this,\'archived\','+id+')');
                        element.closest("tr").remove();
                        $("#body_validate").append(element.closest("tr"));
                    }
                    if (status=="archived") {
                        var tr = $(element).closest("tr");
                        $(element).closest("tr").remove();
                        $("#body_archived").append(tr);
                        button.remove();
                        $('#archivedDialog1').modal({show: false});
                        $("body").removeClass("modal-open");
                        $('.modal-backdrop').remove();
                    }
                },
                error : function(e) {
                    console.log("ERROR: ", e);
                },
                done : function(e) {
                    console.log("DONE");
                }
            });
        }

        function deleteCommand(element,id) {
            var result = confirm("Vous êtes sur de supprimer cette commande ?");
            if (result == true) {
                var data = {};
                data["id"] = id;

                $.ajax({
                    type : "POST",
                    contentType : "application/json",
                    url : "http://localhost:8080/delete",
                    data : JSON.stringify(data),
                    dataType : 'json',
                    timeout : 100000,
                    success : function(data) {
                        console.log("SUCCESS: ", data);
                        $(element.closest("tr")).remove();
                    },
                    error : function(e) {
                        console.log("ERROR: ", e);
                    },
                    done : function(e) {
                        console.log("DONE");
                    }
                });
            }
        }
    </script>
</body>
</html>