<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Admin - Glory Box Book</title>

    <link href="../vendor/bootstrap/css/bootstrap.min.css" th:href="@{../vendor/bootstrap/css/bootstrap.css}" rel="stylesheet" />
    <link href="../css/half-slider.css" th:href="@{../css/half-slider.css}" rel="stylesheet" />
    <link href="../vendor/fontawesome/css/font-awesome.min.css" th:href="@{../vendor/fontawesome/css/font-awesome.min.css}" rel="stylesheet" />

    <script type="text/javascript" th:src="@{/vendor/jquery/jquery.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js }"></script>


</head>
<body>

    <div class="container">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Commandes des utilisateurs en attente</div>
                    <div class="card-block">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Email</th>
                                    <th>Type de box</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="command : ${datas.pendingCommands}">
                                    <th th:text="${command.id}">...</th>
                                    <th th:text="${command.name}">...</th>
                                    <th th:text="${command.forname}">...</th>
                                    <th th:text="${command.email}">...</th>
                                    <th th:text="${command.box.name}">...</th>
                                    <th>
                                        <a role="button" class="btn btn-primary btn-sm" th:href="@{'/detail/' + ${command.id}}">Détail</a>
                                        <button type="button" class="btn btn-danger btn-sm" th:onclick="'javascript:deleteCommand(this,\''+${command.id}+'\');'">Supprimer</button>
                                        <button type="button" class="btn btn-success btn-sm" th:onclick="'javascript:updateStatusToValidate(this,\''+${command.id}+'\');'">Valider</button>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Commandes des utilisateurs validées</div>
                    <div class="card-block">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>Type de box</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody id="body_validate">
                            <tr th:each="command : ${datas.validateCommands}">
                                <th th:text="${command.id}">...</th>
                                <th th:text="${command.name}">...</th>
                                <th th:text="${command.forname}">...</th>
                                <th th:text="${command.email}">...</th>
                                <th th:text="${command.box.name}">...</th>
                                <th>
                                    <a role="button" class="btn btn-primary btn-sm" th:href="@{'/detail/' + ${command.id}}">Détail</a>
                                    <button type="button" class="btn btn-danger btn-sm" th:onclick="'javascript:deleteCommand(this,\''+${command.id}+'\');'">Supprimer</button>
                                    <button type="button" th:id="'archivedButton'+${command.id}" class="btn btn-success btn-sm" data-toggle="modal" th:attr="data-target='#archivedDialog'+${command.id}">Archiver</button>

                                    <div class="modal fade" tabindex="-1" th:id="'archivedDialog'+${command.id}" role="dialog" aria-labelledby="copycourse" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Lien pour la livraison</h4>
                                                </div>
                                                <div class="modal-body">
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <input th:id="'input_link'+${command.id}" type="text" class="form-control" name="email" placeholder="Lien de livraison" required=""/>
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" th:onclick="'javascript:updateStatusToArchived(this,\''+${command.id}+'\');'">Valider</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


            <div class="row" style="margin-top:20px;">
                <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Historique des  commandes utilisateurs</div>
                        <div class="card-block">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Email</th>
                                    <th>Type de box</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody id="body_archived">
                                    <tr th:each="command : ${datas.archiveCommands}">
                                        <th th:text="${command.id}">...</th>
                                        <th th:text="${command.name}">...</th>
                                        <th th:text="${command.forname}">...</th>
                                        <th th:text="${command.email}">...</th>
                                        <th th:text="${command.box.name}">...</th>
                                        <th>
                                            <a role="button" class="btn btn-primary btn-sm" th:href="@{'/detail/' + ${command.id}}">Détail</a>
                                            <button type="button" class="btn btn-danger btn-sm" th:onclick="'javascript:deleteCommand(this,\''+${command.id}+'\');'">Supprimer</button>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Données divers</div>
                    <div class="card-block">
                            <table class="table">
                                <tr>
                                    <td>
                                        <div th:text="${datas.description}" id="current_description">...</div>
                                    </td>
                                    <td>
                                        <textarea name="description" id="description"></textarea>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" id="btn_description">Modifier</button>
                                    </td>
                                </tr>
                            </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-11">
                                Les Boxes
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#create_box">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>

                                <div class="modal fade" tabindex="-1" id="create_box" role="dialog" aria-labelledby="copycourse" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Lien pour la livraison</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <input id="input_create_box_name" type="text" class="form-control" name="name" placeholder="Nom de la box" required=""/>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <input id="input_create_box_price" type="number" class="form-control" name="price" placeholder="Prix de la box" required=""/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" id="button_create_box">Valider</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Prix</th>
                                <th>Date de création</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody id="body_box">
                            <tr th:each="box : ${datas.boxes}">
                                <th th:text="${box.id}">...</th>
                                <th th:text="${box.name}">...</th>
                                <th th:text="${box.price}">...</th>
                                <th th:text="${box.creationDate}">...</th>
                                <th>
                                    <button type="button" class="btn btn-danger btn-sm" th:onclick="'javascript:deleteCommand(this,\''+${box.id}+'\');'">Supprimer</button>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

   <!-- <div class="row" style="margin-top:20px;">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Prix de livraisons</div>
                <div class="card-block">
                    <table class="table">
                        <tr>
                            <td>France : </td>
                            <td><div class="row"><div id="td_price_france" th:text="${datas.priceFrance}"></div> €</div></td>
                            <td><input type="number" id="price_france"/></td>
                            <td><button type="button" onclick="changePrice('price_france','1');" >Modifier</button></td>
                        </tr>
                        <tr>
                            <td>Canada : </td>
                            <td><div class="row"><div  id="td_price_canada" th:text="${datas.priceCanada}"></div> €</div></td>
                            <td><input type="number" id="price_canada"/></td>
                            <td><button type="button" onclick="changePrice('price_canada','3');">Modifier</button></td>
                        </tr>
                        <tr>
                            <td>France outre mer : </td>
                            <td><div class="row"><div  id="td_price_outre_mer" th:text="${datas.priceOutreMer}"></div> €</div></td>
                            <td><input type="number" id="price_outre_mer"/></td>
                            <td><button type="button" onclick="changePrice('price_outre_mer','2');">Modifier</button></td>
                        </tr>
                        <tr>
                            <td>Belgique : </td>
                            <td><div class="row"><div id="td_price_belgique"  th:text="${datas.priceBelgique}"></div> €</div></td>
                            <td><input type="number" id="price_belgique"/></td>
                            <td><button type="button" onclick="changePrice('price_belgique','4');">Modifier</button></td>
                        </tr>
                        <tr>
                            <td>Luxembourg : </td>
                            <td><div class="row"><div id="td_price_luxembourg" th:text="${datas.priceLuxembourg}"></div> €</div></td>
                            <td><input type="number" id="price_luxembourg"/></td>
                            <td><button type="button" onclick="changePrice('price_luxembourg','5');">Modifier</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>-->

    </div>

    <script type="text/javascript">
	var url = window.location.href
	var arr = url.split("/");
	var domain = arr[0] + "//" + arr[2];

        function changePrice(idInput,idCountry) {
            var data = {}
            data["price"] = $("#"+idInput).val();

            $.ajax({
                type : "POST",
                contentType : "application/json",
                url : domain+"/update/price/"+idCountry,
                data : JSON.stringify(data),
                dataType : 'json',
                timeout : 100000,
                success : function(data) {
                    console.log("SUCCESS: ", data);
                    $("#td_"+idInput).text(data.price);
                },
                error : function(e) {
                    console.log("ERROR: ", e);
                },
                done : function(e) {
                    console.log("DONE");
                }
            });
        }

        $("#btn_description").click(function() {
            var data = {}
            data["description"] = $("#description").val();

            $.ajax({
                type : "POST",
                contentType : "application/json",
                url : domain+"/update/description",
                data : JSON.stringify(data),
                dataType : 'json',
                timeout : 100000,
                success : function(data) {
                    console.log("SUCCESS: ", data);
                    $("#current_description").text($("#description").val());
                    $("#description").val("");
                },
                error : function(e) {
                    console.log("ERROR: ", e);
                },
                done : function(e) {
                    console.log("DONE");
                }
            });
        });

        $("#button_create_box").click(function() {
            var data = {};
            data["name"] = $("#input_create_box_name").val();
            data["price"] = $("#input_create_box_price").val();

            $.ajax({
                type : "POST",
                contentType : "application/json",
                url : domain+"/create/box",
                data : JSON.stringify(data),
                dataType : 'json',
                timeout : 100000,
                success : function(data) {
                    console.log("SUCCESS: ", data);
                    $("#body_box").append("<tr>"+
                        "<th>"+data["id"]+"</th>"+
                        "<th>"+data["name"]+"</th>"+
                        "<th>"+data["price"]+"</th>"+
                        "<th>"+data["creationDate"]+"</th>"+
                        '<th><button type="button" class="btn btn-danger btn-sm" onclick="deleteBox(this,'+data['id']+')">Supprimer</button></th>'+
                        "</tr>");
                    $('#create_box').remove();
                    $("body").removeClass("modal-open");
                    $('.modal-backdrop').remove();
                    location.reload();
                },
                error : function(e) {
                    console.log("ERROR: ", e);
                },
                done : function(e) {
                    console.log("DONE");
                }
            });
        });

        function deleteBox(element,id) {
            var data = {};
            data["id"] = id;

            $.ajax({
                type : "POST",
                contentType : "application/json",
                url : domain+"/delete/box",
                data : JSON.stringify(data),
                dataType : 'json',
                timeout : 100000,
                success : function(data) {
                     console.log("SUCCESS: ", data);
                    $(element).closest("tr").remove();
                },
                error : function(e) {
                    console.log("ERROR: ", e);
                },
                done : function(e) {
                    console.log("DONE");
                }
            });
        }

        function updateStatusToValidate(element,id) {
            var data = {}
            data["id"] = id;

            $.ajax({
                type : "POST",
                contentType : "application/json",
                url : domain+"/update/status/validate",
                data : JSON.stringify(data),
                dataType : 'json',
                timeout : 100000,
                success : function(data) {
                     console.log("SUCCESS: ", data);
                     var button = $(element).closest(".btn-success");
                     button.text("Archiver");
                     button.unbind('click');
                     button.attr('onClick','updateStatus(this,\'archived\','+id+')');
                     button.attr('data-toggle','modal');
                     button.attr('id','archivedButton'+id);
                     button.attr('data-target',"#archivedDialog"+id);
                     element.closest("tr").remove();
                     var tr = element.closest("tr");

                     $("#body_validate").append(tr);
                        location.reload();
                },
                error : function(e) {
                    console.log("ERROR: ", e);
                },
                done : function(e) {
                    console.log("DONE");
                }
            });
        }

        function updateStatusToArchived(element,id) {
            var data = {}
            data["id"] = id;
            data["link"] = $("#input_link"+id).val();

            $.ajax({
                type : "POST",
                contentType : "application/json",
                url : domain+"/update/status/archived",
                data : JSON.stringify(data),
                dataType : 'json',
                timeout : 100000,
                success : function(data) {
                    console.log("SUCCESS: ", data);
                    var button = $("#archivedButton"+id);
                    var tr = $(element).closest("tr");
                    $(element).closest("tr").remove();
                    $("#body_archived").append(tr);
                    button.remove();
                    $('#archivedDialog'+id).remove();
                    $("body").removeClass("modal-open");
                    $('.modal-backdrop').remove();
                },
                error : function(e) {
                    console.log("ERROR: ", e);
                },
                done : function(e) {
                    console.log("DONE");
                }
            });
        }

        function deleteCommand(element,id) {
            var result = confirm("Vous êtes sur de supprimer cette commande ?");
            if (result == true) {
                var data = {};
                data["id"] = id;

                $.ajax({
                    type : "POST",
                    contentType : "application/json",
                    url : domain+"/delete",
                    data : JSON.stringify(data),
                    dataType : 'json',
                    timeout : 100000,
                    success : function(data) {
                        console.log("SUCCESS: ", data);
                        $(element.closest("tr")).remove();
                    },
                    error : function(e) {
                        console.log("ERROR: ", e);
                    },
                    done : function(e) {
                        console.log("DONE");
                    }
                });
            }
        }

    </script>
</body>
</html>