<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Admin - Glory Box Book</title>

    <link href="../vendor/bootstrap/css/bootstrap.min.css" th:href="@{../vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../css/half-slider.css" th:href="@{../css/half-slider.css}" rel="stylesheet" />
    <link href="../vendor/fontawesome/css/font-awesome.min.css" th:href="@{../vendor/fontawesome/css/font-awesome.min.css}" rel="stylesheet" />
</head>

<body>
<div class="container">
    <div class="row" style="margin-top:20px;">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Détail de la commande : <span th:text="${command.id}">...</span></div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            Nom : <span th:text="${command.name}">...</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Prénom : <span th:text="${command.forname}">...</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Email : <span th:text="${command.email}">...</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Ville : <span th:text="${command.address.city}">...</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Adresse : <span th:text="${command.address.address}">...</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Pays : <span th:text="${command.address.country}">...</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Code postal : <span th:text="${command.address.postal}">...</span>
                        </div>
                    </div>
                    <div class="row" th:if="${command.link} != null">
                        <div class="col-md-12">
                            Lien : <span th:text="${command.link}">...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    <a class="btn btn-default" href="/admin" aria-label="Settings">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Retour à la page principale
    </a></div>

</div>


<script type="text/javascript" th:src="@{/vendor/jquery/jquery.js}"></script>
</body>
</html>