<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Glory Box Book</title>

	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/half-slider.css" rel="stylesheet">
	<link rel="stylesheet" href="social/dist/css/social-share-kit.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-yellow fixed-top">
	<div class="container">
		<a class="navbar-brand" href="#">Glory Box Book</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Accueil
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#section_about">Présentation</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#section_command">Commander</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#section_contact">Nous contacter</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div>
	<img src="img/bg.jpg"/>
</div>


<!-- Page Content -->
<section class="py-5" id="section_about">
	<div class="container"  style="text-align: center;">
		<table style="margin:auto;">
			<tr>
				<td style="padding: 10px;"><img src="img/logo_r.png" style="width:110px;"/></td>
				<td style="padding: 10px;"><h1 style="color:#E1BA46">Présentation</h1></td>
				<td style="padding: 10px;"><img src="img/logo_l.png" style="width:110px;"/></td>
			</tr>
		</table>
		<p>
		<h3 style="font-family: 'Dancing Script', cursive;">Qui sommes-nous ?</h5>
			Des jeunes femmes passionnées et motivées qui veulent faire découvrir des lectures et mettre en avant un patrimoine littéraire souvent inconnu et sous estimé : des autrices, de tous pays et de toutes époques.
		</p>
		<br/>
		<p>
		<h3 style="font-family: 'Dancing Script', cursive;">A qui nous adressons-nous ?</h5>
			A celles et à ceux, amoureux-ses des livres et curieux-ses de découvrir une littérature, souvent mise de côté et oubliée.
		</p>
		<br/>
		<p>
		<h3 style="font-family: 'Dancing Script', cursive;">Notre idée ?</h5>
			Une box mensuelle autour d'autrices de talent avec des thématiques différentes chaque mois pour permettre un échange de culture au féminin.
		</p>
		<br/>
		<p>
		<h3 style="font-family: 'Dancing Script', cursive;">Quand ?</h5>
			Lancement de la première box : le 25 Octobre 2017 spéciale halloween : autour des récits fantastiques horrifiques.
		</p>
	</div>
</section>

<section class="py-5" id="section_command">
	<div class="container" style="text-align: center;">
		<table style="margin:auto;">
			<tr>
				<td style="padding: 10px;"><img src="img/logo_r.png" style="width:110px;"/></td>
				<td style="padding: 10px;"><h1 style="color:#E1BA46">Commander</h1></td>
				<td style="padding: 10px;"><img src="img/logo_l.png" style="width:110px;"/></td>
			</tr>
		</table>

		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<form method="POST" th:action="@{/command}" th:object="${commandForm}">
					<div class="row">
						<div class="form-group col-md-6">
							<input type="text" th:field="*{name}" class="form-control" name="name" placeholder="Nom" required=""/>
						</div>
						<div class="form-group col-md-6">
							<input type="text" th:field="*{forname}" class="form-control" name="forname" placeholder="Prénom" required=""/>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12">
							<input type="email" th:field="*{email}" class="form-control" name="email" placeholder="Email" required=""/>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12">
							<input type="text" th:field="*{address}" class="form-control" name="address" placeholder="Adresse" required=""/>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12">
							<input type="text" th:field="*{country}" class="form-control" name="country" placeholder="Pays" required=""/>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12">
							<input type="text" th:field="*{city}" class="form-control" name="city" placeholder="Ville" required=""/>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12">
							<input type="text" th:field="*{postal}" class="form-control" name="postalcode" placeholder="Code Postal" required=""/>
						</div>
					</div>
					<div class="center-content">
						<div class="col-md-4"></div>
						<input type="submit" value="COMMANDER" class="btn btn-lg"/>
					</div>
				</form>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</section>

<section class="py-5" id="section_contact">
	<div class="container" style="text-align: center;">
		<table style="margin:auto;">
			<tr>
				<td style="padding: 10px;"><img src="img/logo_r.png" style="width:110px;"/></td>
				<td style="padding: 10px;"><h1 style="color:#E1BA46">Nous contacter</h1></td>
				<td style="padding: 10px;"><img src="img/logo_l.png" style="width:110px;"/></td>
			</tr>
		</table>

		<p>
			<a href="https://www.facebook.com/glorybookbox/" target="_blank" class="ssk ssk-facebook"></a>
			<a href="" class="ssk ssk-twitter"></a>
			<a href="" class="ssk ssk-google-plus"></a>
			<a href="" >Email</a>
		</p>
	</div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
