<!DOCTYPE HTML>
<html lang="en-US" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Admin - Glory Box Book</title>

    <link href="../vendor/bootstrap/css/bootstrap.min.css" th:href="@{../vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../css/half-slider.css" th:href="@{../css/half-slider.css}" rel="stylesheet" />

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p>Login Admin Page</p>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="4">
                <form method="POST" id="formid" th:action="@{/login-admin}" th:object="${userForm}">
                    <div class="row">
                        <div class="form-group">
                            <input type="email" th:field="*{email}" class="form-control" name="email" placeholder="Email" required=""/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="password" th:field="*{password}" class="form-control" name="password" placeholder="Mot de passe" required=""/>
                        </div>
                    </div>

                    <div class="center-content">
                        <div class="col-md-4"></div>
                        <input type="submit" value="LOGIN" class="btn btn-lg"/>
                    </div>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

</body>
</html>